Task-1

In [10]:
%pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [11]:
import sqlite3

In [20]:
sqlite3 roster.db 
CREATE TABLE Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
);

SyntaxError: invalid syntax (2601874029.py, line 1)

In [15]:
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29);

In [21]:
UPDATE Roster
SET Name = 'Ezri Dax'
WHERE Name = 'Jadzia Dax';

SyntaxError: invalid syntax (3170887837.py, line 1)