Task-1

In [10]:
%pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [11]:
import sqlite3

In [1]:
import sqlite3

def execute(query, params=()):
    with sqlite3.connect("roster.db") as conn:
        cur = conn.cursor()
        cur.execute(query, params)
        conn.commit()
        return cur.fetchall()

def setup_db():
    execute("CREATE TABLE IF NOT EXISTS Roster (Name TEXT, Species TEXT, Age INTEGER)")
    execute("DELETE FROM Roster")
    execute("INSERT INTO Roster VALUES (?, ?, ?)", ("Benjamin Sisko", "Human", 40))
    execute("INSERT INTO Roster VALUES (?, ?, ?)", ("Jadzia Dax", "Trill", 300))
    execute("INSERT INTO Roster VALUES (?, ?, ?)", ("Kira Nerys", "Bajoran", 29))

def update_data():
    execute("UPDATE Roster SET Name = ? WHERE Name = ?", ("Ezri Dax", "Jadzia Dax"))

def query_bajoran():
    print(execute("SELECT Name, Age FROM Roster WHERE Species = ?", ("Bajoran",)))

def delete_old():
    execute("DELETE FROM Roster WHERE Age > 100")

def add_rank():
    execute("ALTER TABLE Roster ADD COLUMN Rank TEXT")
    for name, rank in {"Benjamin Sisko": "Captain", "Ezri Dax": "Lieutenant", "Kira Nerys": "Major"}.items():
        execute("UPDATE Roster SET Rank = ? WHERE Name = ?", (rank, name))

def sort_by_age():
    print(execute("SELECT * FROM Roster ORDER BY Age DESC"))

if __name__ == "__main__":
    setup_db()
    update_data()
    query_bajoran()
    delete_old()
    add_rank()
    sort_by_age()

[('Kira Nerys', 29)]
[('Benjamin Sisko', 'Human', 40, 'Captain'), ('Kira Nerys', 'Bajoran', 29, 'Major')]

In [ ]:
import sqlite3

def execute(query, params=()):
    with sqlite3.connect("library.db") as conn:
        cur = conn.cursor()
        cur.execute(query, params)
        conn.commit()
        return cur.fetchall()

def setup_db():
    execute("CREATE TABLE IF NOT EXISTS Books (Title TEXT, Author TEXT, Year_Published INTEGER, Genre TEXT)")
    execute("DELETE FROM Books")
    books = [
        ("To Kill a Mockingbird", "Harper Lee", 1960, "Fiction"),
        ("1984", "George Orwell", 1949, "Dystopian"),
        ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Classic")
    ]
    execute("INSERT INTO Books VALUES (?, ?, ?, ?)", books[0])
    execute("INSERT INTO Books VALUES (?, ?, ?, ?)", books[1])
    execute("INSERT INTO Books VALUES (?, ?, ?, ?)", books[2])

def update_data():
    execute("UPDATE Books SET Year_Published = ? WHERE Title = ?", (1950, "1984"))

def query_dystopian():
    print("Dystopian books:", execute("SELECT Title, Author FROM Books WHERE Genre = ?", ("Dystopian",)))

def delete_old():
    execute("DELETE FROM Books WHERE Year_Published < 1950")

def add_rating():
    execute("ALTER TABLE Books ADD COLUMN Rating REAL")
    ratings = {"To Kill a Mockingbird": 4.8, "1984": 4.7, "The Great Gatsby": 4.5}
    for title, rating in ratings.items():
        execute("UPDATE Books SET Rating = ? WHERE Title = ?", (rating, title))

def sort_by_year():
    print("Books sorted by year:", execute("SELECT * FROM Books ORDER BY Year_Published ASC"))

def main():
    setup_db()
    update_data()
    query_dystopian()
    delete_old()
    add_rating()
    sort_by_year()

if __name__ == "__main__":
    main()